<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="cec2f640-eb8b-4090-8c41-811b07022261" Publisher="CN=nakli" Version="1.1.1.0" />
  <mp:PhoneIdentity PhoneProductId="cec2f640-eb8b-4090-8c41-811b07022261" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CarManager</DisplayName>
    <PublisherDisplayName>pnaklicki</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Test10App.App">
      <uap:VisualElements DisplayName="CarManager" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Test10App" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\VwLogo96x96.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <!-- Manifest Declaration -->
      <!-- A new task type toastNotification is added -->
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Tasks.AppBackgroundTask">
          <BackgroundTasks>
            <Task Type="general" />
            <Task Type="systemEvent" />
            <Task Type="timer" />
            <Task Type="pushNotification" />
            <uap:Task Type="mediaProcessing" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="videosLibrary" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>